.command {
  background-color: $secondaryBackgroundColor;
}
.command__item {
  background-color: $primaryBackgroundColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $cardsBorderRadius;
}
.command__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command__people {
  margin-bottom: 10px;
  margin-top: 0;
  color: $secondaryTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.command__position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  color: $primaryTextColor;
}
